.admindash-header-logo{
    width: 10%;
  }
  .main-header , .footer{
    background-color: #064BB5;
    color: #fff;
    padding: 0.5rem;
  }
  .button-header{
    text-decoration: none;
    background-color: #BCFF5E;
    color: black;
    padding: 0.8rem;
    width: 100px;
    text-align: center;
    border-radius: 10px;
  }
  .neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
  }
  @keyframes lights {
    0% {
      color: #ffffff;
      text-shadow:
        0 0 1em hsla(90, 100%, 75%, 0.2),
        0 0 0.125em hsla(90, 100%, 75%, 0.3),
        -1em -0.125em 0.5em hsla(90, 100%, 75%, 0),
        1em 0.125em 0.5em hsla(90, 100%, 75%, 0);
    }
  
    30% { 
      color: #eaffb0;
      text-shadow:
        0 0 1em hsla(90, 100%, 75%, 0.5),
        0 0 0.125em hsla(90, 100%, 75%, 0.5),
        -0.5em -0.125em 0.25em hsla(90, 100%, 75%, 0.2),
        0.5em 0.125em 0.25em hsla(90, 100%, 75%, 0.4);
    }
  
    40% { 
      color: #d9ff8d;
      text-shadow:
        0 0 1em hsla(90, 100%, 75%, 0.5),
        0 0 0.125em hsla(90, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(90, 100%, 75%, 0.2),
        0.25em 0.125em 0.125em hsla(90, 100%, 75%, 0.4);
    }
  
    70% {
      color: #eaffb0;
      text-shadow:
        0 0 1em hsla(90, 100%, 75%, 0.5),
        0 0 0.125em hsla(90, 100%, 75%, 0.5),
        0.5em -0.125em 0.25em hsla(90, 100%, 75%, 0.2),
        -0.5em 0.125em 0.25em hsla(90, 100%, 75%, 0.4);
    }
  
    100% {
      color: #ffffff;
      text-shadow:
        0 0 1em hsla(90, 100%, 75%, 0.2),
        0 0 0.125em hsla(90, 100%, 75%, 0.3),
        1em -0.125em 0.5em hsla(90, 100%, 75%, 0),
        -1em 0.125em 0.5em hsla(90, 100%, 75%, 0);
    }
  }
  
  
  h3 {
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 3s 750ms linear infinite;
  }
  .banner{
    width: 1920px;
    height: 50vh;
    background-image: url('D:/Ceratopia/Ceratopia/src/assets/Banner.jpg');
    background-size: 100% 100%;
  }
  
  /*****animated text start*****/
  h1{
    position: absolute;
    text-transform: uppercase;
    margin:0;
    padding:0;
    letter-spacing: 5px;
    color:transparent;
    color: white;
  }
  
  h1:before{
    content: attr(data-text);
    position:absolute;
    top: 0px;
    left:0px;
    width:100%;
    height:100%;
    color:#BCFF5E;
    overflow: hidden;
    border-right: 1px solid #BCFF5E;
    animation: type 10s steps(18) infinite;
    white-space:nowrap;
  }
  
  @keyframes type {
    
    0%{
      width:0%;
    }
    
    50%{
      width:100%;
      
    }
    
    100%{
      width:0%;
    }
    
  }
  /*****animated text End*****/
  /* our-services-style */
  .adoptation-cover{
    background-image: url('D:/Ceratopia/Ceratopia/src/assets/Adoptation Service.png');
    background-size: cover;
    width: 302px;
    height: 205px;
  }
  /* footer */